header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263740;
}

#nombre {
    display: flex;
    justify-content: center;
    color: #E2ECE1;
    font-size: 25px;
}

#logo {
    margin: 13px;
    padding: 0px 13px 0px 13px;
    background-color: #0D7943;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.recetasdelasemana {
    padding: 20px;
}

.recetasdelasemana h2 {
    display: flex;
    justify-content: center;
    color: #333;
    margin-bottom: 12px;
}

.card {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.card h3 {
    color: #333;
    margin-bottom: 5px;
}

.buton {
    background-color: orange;
    border-radius: 10px;
    width: 90%;
    border: none;
    margin-bottom: 8px;
}

div p {
    margin-bottom: 12px;
}

.cardsdiv {
    display: flex;
    justify-content: space-around;
}

#recetadeldia {
    padding: 20px;
}

#recetadeldia h2 {
    display: flex;
    justify-content: center;
    color: #333;
}

.ingredientes {
    list-style-type: none;
}

.ingredientes li {
    padding: 9px;
}

#presentacionreceta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#chipironesimg {
    margin-top: 12px;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

#pasostitle {
    margin: 15px 0px 0px 20px;
}

.pasos {
    list-style-type: none;
}

.pasos li{
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.nombrechef {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #333;
}

.listaschef {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 13px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.info ul {
    list-style-type: none;
    margin: 7px;
}

.recetas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 13px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.recetas ul {
    list-style-type: none;
    margin: 15px;
}

.chefdelmes {
    margin: 15px 0px 15px 0px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #263740;
}

footer h3 {
    color: #fff;
    font-size: 1.5rem;
}