header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263740;
}

#nombre {
    display: flex;
    justify-content: center;
    color: #E2ECE1;
    font-size: 25px;
}

#logo {
    margin: 13px;
    padding: 0px 13px 0px 13px;
    background-color: #0D7943;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 13px;
    text-decoration: none;
    color: white;
}

#cremaCatalana {
    background-color: #4F6571;
}

